/* В Comics.js стр.87-89, 96 - классы прописали вручную */
.comics__container {
  display: flex;/*все эл-ты выстраивается - в одну линию  */
  flex-wrap: wrap; /*автоматич. переброс эл-тов на следущую строчку - в зависимости от ширины контейнера (экрана)*/
}

.comics__item {
  border: 2px solid yellowgreen; /*- для проверки */
 width: 250px;
 background-color: var(--color-light); /* Значение берем из App.css - ИМПОРТ CSS- ф-лов - PARCEL делает автоматом */
 margin: var(--spacing-large);

 cursor: pointer;
 transition: 0.5s;

           /*Изначально ВНУТРИ <li>-ВСЕ эл-ты СТРОЧНЫЕ (<span> и <img>) - Структурируем - Название комикса и Картинку - ВНУТРИ ОТДЕЛЬНОГО ЭЛЕМЕНТА______________________________________________________  */

     display: flex; /* Название И Картинка - сначала В ЛИНИЮ */
     flex-direction: column; /* теперь Название СВЕРХУ НАД Картинкой */
     justify-content: space-between; /* Названия - в ряду занимаютют -   ОДИНАКОВОЕ ПО ВЫСОТЕ МЕСТО (по высоте самого длинного названия) */
}

.comics__item:hover {/* при наведении - небольшой ПОДВОРОТ и изменение размеров эл-та*/
  transform: rotate(-3deg) scale(0.95);
  filter: saturate(150%); /* Изменяем НАСЫЩЕННОСТЬ*/
}

.comics__name {/* Центрируем название - ВНУТРИ БЛОКА*/
  display: flex;
  margin: auto;
  padding: 10px 15px;
}

.comics__img { 
  width: 100%;  /* иначе КАРТИНКИ будут выходить ЗА РАМКИ  */
}

